<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include "componentes/_bootstrap.html" %}
</head>
<body>

    {% include "componentes/_navbar.html" %}
    {% include "componentes/_offcanvas.html" %}

    <div class="container my-2 alig">
        {% for message in messages %}
          <div class="alert alert-primary" role="alert">
            {{ message }}
          </div>
        {% endfor%}
    </div>
    <div class="container mt-5">

      <div class="card w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Subir Archivo</h5>
            <form method="post" enctype="multipart/form-data">
              {{ form.csrf_token }}
              <div class="form-group">
                  <label for="documento">Selecciona un documento:</label>
                  {{ form.file }}
              {{ form.enviar }}
            </form>
        </div>
      </div>
    </div>
  
</body>
</html>