<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totales</title>
    {% include "componentes/_bootstrap.html" %}
</head>
<body>
    {% include "componentes/_navbar.html" %}
    {% include "componentes/_offcanvas.html" %}

    <div class="container">
        <h1>Totales {{ app }}</h1>

        <p>Total Usuarios: {{ total_app.total_usuarios }}</p>
        <p>Total Respuestas: {{ total_app.total_respuestas }}</p>
        <p>Total Bajas Automáticas: {{ total_app.bajas_automaticas }}</p>
        <p>Total Bajas Responsable: {{ total_app.bajas_responsable }}</p>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Responsable</th>
                <th scope="col">Total Usuarios</th>
                <th scope="col">Enviado</th>
                <th scope="col">Respuestas</th>
                <th scope="col">Baja Politica</th>
                <th scope="col">Baja Responsable</th>
                <th scope="col">Conservar Acceso</th>
              </tr>
            </thead>
            <tbody>
                {% for total in totales %}
                <tr>
                    <th scope="row">{{ total.responsable }}</th>
                    <td>{{ total.total_usuarios }}</td>
                    <td>{{ total.enviado_responsable }}</td>
                    <td>{{ total.respuesta_responsable }}</td>
                    <td>{{ total.baja_automatica }}</td>
                    <td>{{ total.baja_responsable }}</td>
                    <td>{{ total.conservar_acceso }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>