<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    {% include "componentes/_bootstrap.html" %}

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    {% include "componentes/_navbar.html" %}
    {% include "componentes/_offcanvas.html" %}

  <div class="container w-75">
      <h2 class="my-3">{{ titulo }}</h2>

      <div class="row my-3">

        <div class="col-lg-2">
            <!-- Dropdown aplicativos -->
            <div class="dropdown">
              <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aplicativo
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('certificacion.mostrar_todos_certificacion') }}">Todos</a></li>
                {% for app in apps %}
                  <li><a class="dropdown-item" href="{{ url_for('certificacion.mostrar_app_certificacion',app=app.nombre) }}">{{ app.nombre }}</a></li>
                {% endfor %}
              </ul>
            </div> <!-- fin dropdown aplicativos -->

            
        </div>
        
        <div class="col-lg-4">
          <button class="btn btn-primary" id="btnSeleccionarTodo">Seleccionar Todo</button>
          <button class="btn btn-secondary" id="btnDeseleccionarTodo">Deseleccionar</button>
        </div>

      </div><!-- fin div botones -->

      

      <table id="tablaRegistros" class="stripe">
          <thead>
              <tr>
                  <th>App</th>
                  <th>Nombre</th>
                  <th>Usuario</th>
                  <th>Estatus</th>
                  <th>Perfil</th>
                  <th>Fecha Creacion</th>
                  <th>Ultimo Acceso</th>
                  <th>Responsable</th>
                  <th>Requiere Acceso</th>
                  <th>Comentarios</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>

      <button  class="btn btn-primary" id="btnEnviar">Enviar</button>

  </div><!-- fin container -->

    <!-- datatables -->
    <!--  Cargar datos para tabla -->
    <script>
      var datosJSON = '{{ registros | tojson | safe }}';
      var authJSON = '{{ auth | tojson | safe }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/certificacion/table_certificacion.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/certificacion/enviar_certificacion.js') }}"></script>

</body>
</html>