<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    {% include "_bootstrap.html" %}
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card p-4 shadow">
                    <h2 class="text-center mb-4">Iniciar sesión</h2>
                    <form method="POST">
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            <label for="email" class="form-label">Cuenta Red</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            {{ form.password }}
                        </div>
                        <div class="d-grid">
                            {{ form.enviar }}
                        </div>
                        
                    </form>
                    <div class="mt-3 text-center">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>