<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    {% include "_bootstrap.html" %}

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    {% include "_navbar.html" %}
    {% include "_offcanvas.html" %}

    <div class="container w-75">
      <h2 class="my-3">{{ titulo }}</h2>

      <!-- Dropdown aplicativos -->
      <div class="dropdown my-2">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Aplicativo
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div><!-- fin dropdown aplicativos -->

      <table id="tablaExtraccion" class="display">
          <thead>
              <tr>
                  <th>App</th>
                  <th>Nombre</th>
                  <th>Usuario</th>
                  <th>Estatus</th>
                  <th>Perfil</th>
                  <th>Fecha Creacion</th>
                  <th>Ultimo Acceso</th>
                  <th>Responsable</th>
                  <th>Requiere Acceso</th>
                  <th>Comentarios</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>

  </div><!-- fin container -->

    <!-- datatables -->
    <script>
      var datosJSON = '{{ data | tojson | safe }}';
      var datosJavaScript = JSON.parse(datosJSON);

      $(document).ready(function() {
        $('#tablaExtraccion').DataTable({
          data: datosJavaScript,
          columns: [
            { data: 'app' },
            { data: 'nombre' },
            { data: 'usuario' },
            { data: 'estatus' },
            { data: 'perfil' },
            { data: 'fecha_creacion' },
            { data: 'ultimo_acceso' },
            { data: 'responsable' },
            { data: 'requiere_acceso' },
            { data: 'comentarios' }
          ],
          rowCallback: function(row, data) {
            // Ejemplo: colorear la fila si el valor de la columna 'estado' es 'Pendiente'
            if (data.en_extraccion === false ) { // Asumiendo que 'estado' está en la tercera columna (índice 2)
              $(row).css('background-color', 'yellow');
            }
            else if(data.requiere_acceso === "NO"){
              $(row).css('background-color', 'red');
            }
          }
        });
      });
    </script>
</body>
</html>